keybinds {
    unbind "Alt o" "Alt i" // Needed for extending a selection in Helix unbind "Alt i"
}

layout {
    tab name="Helix" focus=true {
        pane split_direction="vertical" {
            pane focus=true size="20%" command="broot" {
                args "-g" "--conf" "zelix/broot/conf.hjson;../.config/broot/conf.hjson"
            } 
            pane size="80%" command="hx"
        }
    }
    tab name="Prompt" {
        pane command="fish" {
        }
    }
    tab name="Diff" {
        pane borderless=true command="git" {
            args "diff"
        }
    }
}
