// If you'd like to override the default keybindings completely, be sure to change "keybinds" to "keybinds clear-defaults=true"
keybinds {
    normal {
        // uncomment this and adjust key if using copy_on_select=false
        // bind "Alt c" { Copy; }

        bind "Ctrl b" {
            Run "cargo" "build" "--release" {
                direction "Down"
            }
        }
    }
}
